
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-sm: 768px;
$breakpoint-mobile: 576px;

$color-primary: #2C3E50;
$color-secondary: #1ABC9C;
$color-white: #FFF;
$color-black: #000;

$color-bg-footer: #1a252f;

$header-height-mobile: 74px;
$header-height-desktop: 104px;
$header-height-desktop-smaller: 72px;

$footer-height: 72px;

$border-radius-normal: 0.5rem;

$ipnut-border-color: #e9ecef;
$ipnut-color: #495057;
$ipnut-validation-color: #dc3545;

$text-color: #212529;